@using Microsoft.AspNetCore.Internal
@model IEnumerable<PMService.ViewModels.CodeMap.CodeMapViewModel4List>
@{
    ViewData["Title"] = "系统字典项";
}
<h2>系统字典</h2>
<a asp-action="CreateCode">创建字典项</a>
<hr />
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>字典项名称</th>
        <th>中文名称</th>
        <th>字典项状态</th>
        <th>字典项描述</th>
        <th></th>
    </tr>
    </thead>
    @if (Model.Any())
    {
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CodeName</td>
                <td>@item.ChineseName</td>
                <td>@item.Status</td>
                <td>@item.Description</td>
                <td>
                    @if (item.Status == "正常")
                    {
                        <a asp-action="InActive" asp-route-key="@item.CodeKey">冻结</a>
                    }
                    else
                    {
                        <a asp-action="Active" asp-route-key="@item.CodeKey">激活</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    }
</table>